*,body{
    font-family: "微軟正黑體";
}


.my_title{
    font-size: 25px;
    margin-left: 46.5%;
    margin-right: 45%;
    padding: 10px;
}
.item{
    position: relative;
}
.myid{
    position: absolute;
    left: 0px;
    top: 0px;
    color: white;
    background: rgb(62, 161, 253);
    font-size: 16px;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
}
.myItemTitle{
    position: absolute;
    left: 30px;
    top: 0px;
    font-weight: bolder;
    padding: 5px;
}


.myItemDes{
    position: absolute;
    left: 35px;
    top: 25px;
}

.my_date{
    position: absolute;
    top: 3px;
    right: 100px;
    font-size: 14px;
    color:gray;
}

.user{
    position: absolute;
    right: 100px;
    bottom: 5px;
    font-size: 14px;
    color:gray;
    padding-top: 2px;
}

@media(max-width:1213px){
    .my_title{
        font-size: 25px;
        margin-left: 35%;
    }
}

@media(max-width:768px){           
    .my_date{
        display: none;
    }
    
    .user{
        display: none;
    }
}