<ion-header>
  <ion-toolbar color="dark">
    <ion-title  class="my_title">Main</ion-title>
    <ion-buttons slot="end">
      <button  class="LogOutButton" (click)="nav2login()">Logout</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<button  expand="full" class="AddButton" (click)="add_notification()">新增通知</button>
<ion-button  expand="full" color="danger" *ngIf="errorFlag" (click)="reload()">重新載入</ion-button>
<ion-button  expand="full" color="danger" *ngIf="errorFlag" (click)="nav2login()">登入</ion-button>

<div class="ion-text-center">
<ion-list>
  <ion-item *ngFor="let item of data; ">
  <ion-label (click)="nav2update(item.id)" class="item">
    <span class="myItemTitle">
    {{item.title}}
    </span>
    
    <span class="myItemDes">      
    {{item.description}}
    </span>
  </ion-label>
    <span class="my_date">
      最後修改時間： {{ item.updated_at | date:'short'}}
    </span>
    <span class="user">
      last edited by {{ item.last_edited_by_user.name }}
    </span>
    <h1 class="icon_send" *ngIf="item.last_edited_by_user.name === nowUser">    
      <a (click)="sendItem(item.id)" >send</a>
    </h1>
    <ion-icon name="trash-outline" (click)="DeleteItem(item.id)" style="cursor:pointer;" ></ion-icon>
</ion-item>
</ion-list>
</div>



</ion-content>
