<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Update Item</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-text-center">
    <ng-container *ngIf="data$ | async as data">
    <ion-item>
      <ion-label color="primary" position="floating" >Title</ion-label>
      <ion-input type="text"  [(ngModel)]="title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating" >Description</ion-label>
      <ion-textarea type="text" [(ngModel)]="description" required></ion-textarea>
    </ion-item>
  </ng-container>
    <!-- <ion-button class="submit-btn" expand="block" (click)="updateItem()" type="submit" >update</ion-button> -->
    <div #myCoolButton class="myCoolButton" (click)="update()">
      <div #myText class="myText" (click)="update()">Submit</div>
    </div>
    <div #progressBar class="progressBar"></div>
    <svg
      #mySvg
      x="0px"
      y="0px"
      viewBox="0 0 25 30"
      style="enable-background: new 0 0 25 30; cursor: pointer;"
      (click)="update()"
    >
      <path
        #myCheck
        class="st0 myCheck"
        d="M2,19.2C5.9,23.6,9.4,28,9.4,28L23,2"
      />
    </svg>
</div>
</ion-content>
